body { 
  width: 100px ;
  height: 100px ; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  width: 80%;
  height: 50%;
  background-color: aqua;
  margin: 2%;
  display: flex;
  justify-content: flex-start;

}


